@model SelectedLangToolDto
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TCODE.TJ</title>
    <environment include="Development">
        <link href="~/css/tutorial.bundle.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/tutorial.bundle.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    @RenderSection("Styles", required: false)
</head>
<body class="scrollbar">
    <header class="main-header">
        <div class="logo">
            <a href="/"> <span>T</span><span>code</span> </a>
        </div>
        <partial name="Partials/_LoginPartial" />
    </header>
    <nav id="main-nav" class="nav">
        <button id="mobile-toggle-open" class="btn-hamburger" type="button">
            <span class="menu-icon"></span>
        </button>
        @await Component.InvokeAsync("TutorialNavbar", new { techId = Model.TechId })
        <div id="search-form" class="search-form">
            <form action="#">
                <input id="search-input" type="text" placeholder="Search" />
                <button type="button" id="search-button" class="search-button">
                    <i class="fas fa-search"></i>
                </button>
                <button type="submit" id="search-button-submit" class="search-button" style="display: none;">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </nav>
    <main class="main-container">
        <aside class="side-bar" id="side-bar">
            <div class="scrollbar">
                <div class="mobailsection">
                    <button id="menu-toggle-close" class="btn-hamburger btn-hamburger-close" type="button">
                        <span class="menu-icon"></span>
                    </button>
                    <div class="logo">
                        <a href="/"> <span>T</span><span>code</span> </a>
                    </div>
                </div>
                @await Component.InvokeAsync("TutorialAside", new { langToolId = Model.LangToolId })
            </div>
        </aside>
        <section class="main-section">
            <article>
                @RenderBody()
            </article>
            <footer class="footer">
                <section class="footer-row-1">
                    <div class="footer-col-1">
                        <span class="header">TCODING.TJ</span>
                        <div class="footer-info">
                            <span>
                                TutorialsTeacher.com is optimized for
                                learning web technologies step by step.
                                Examples might be simplified to improve
                                reading and basic understanding. While using
                                this site, you agree to have read and
                                accepted our terms of use and privacy
                                policy.
                            </span>
                        </div>
                        <div class="feedback">
                            <span>feedback@tcode.tj</span>
                        </div>
                    </div>
                    <div class="footer-col-2">
                        <span class="header">TUTORIALS</span>
                        <div class="footer-tutorials">
                            <ul>
                                <li><a href="#"><i class="fas fa-angle-right"></i> ASP.NET Core</a></li>
                                <li><a href="#"><i class="fas fa-angle-right"></i> ASP.NET MVC</a></li>
                                <li><a href="#"><i class="fas fa-angle-right"></i> IoC</a></li>
                                <li><a href="#"><i class="fas fa-angle-right"></i> Web API</a></li>
                                <li><a href="#"><i class="fas fa-angle-right"></i> C#</a></li>
                                <li><a href="#"><i class="fas fa-angle-right"></i> LINQ</a></li>
                                <li><a href="#"><i class="fas fa-angle-right"></i> Entity Framework</a></li>
                                <li><a href="#"><i class="fas fa-angle-right"></i> AngularJS 1</a></li>
                                <li><a href="#"><i class="fas fa-angle-right"></i> Node.js</a></li>
                                <li><a href="#"><i class="fas fa-angle-right"></i> D3.js</a></li>
                                <li><a href="#"><i class="fas fa-angle-right"></i> JavaScript</a></li>
                                <li><a href="#"><i class="fas fa-angle-right"></i> jQuery</a></li>
                                <li><a href="#"><i class="fas fa-angle-right"></i> Sass</a></li>
                                <li><a href="#"><i class="fas fa-angle-right"></i> Https</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-col-3">
                        <span class="header">E-MAIL LIST</span>
                        <div class="email">
                            <span class="text">
                                Subscribe to TutorialsTeacher email list and
                                get latest updates, tips & tricks on C#,
                                .Net, JavaScript, jQuery, AngularJS, Node.js
                                to your inbox.
                            </span>
                            <div class="subscribe">
                                <form action="/">
                                    <input type="email"
                                           placeholder="Email" />
                                    <input type="submit"
                                           class="btn btn-submit"
                                           value="GO" />
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="footer-row-2">
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">PRIVACY POLICY</a></li>
                        <li><a href="#">TERMS OF USE</a></li>
                        <li><a href="#">ADVERTISE WITH US</a></li>
                    </ul>
                    <span>
                        &copy; 2020 Tcoding.tj. All Rights Reserved.
                    </span>
                </section>
            </footer>
        </section>
    </main>
    <environment include="Development">
        <script src="~/js/common.bundle.js"></script>
        <script src="~/js/tutorial.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/common.bundle.min.js" asp-append-version="true"></script>
        <script src="~/js/tutorial.bundle.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
