
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_TutorialsLayout.cshtml";
}

@section Styles{
    
}

<div hidden id="spinner"></div>
<h1 id="title-article"></h1>
<div id="content-article"></div>

@section Scripts{
    <script src="~/js/ajax-tutorial-page.bundle.js"></script>
}