@model RegisterVm

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@section Styles{
    <style>
        nav.navigation {
            left: 50px !important;
        }
    </style>
}

<form id="sugnup" method="post" asp-action="Register" asp-controller="Account" class="star-form">
    <div class="star-body">
        <div class="star-form-header">
            <div class="header-text">
                <h2>Sign Up</h2>
            </div>
        </div>
        <div asp-validation-summary="All" class="global-error"></div>
        <div class="star-row">
            <div class="star-col-2">
                <div class="star-form-control">
                    <label asp-for="FirstName" class="star-lbl"></label>
                    <input asp-for="FirstName" class="star-cont" />
                    <span asp-validation-for="FirstName" class="star-validate"></span>
                </div>
            </div>
            <div class="star-col-2">
                <div class="star-form-control">
                    <label asp-for="LastName" class="star-lbl"></label>
                    <input asp-for="LastName" class="star-cont" />
                    <span asp-validation-for="LastName" class="star-validate"></span>
                </div>
            </div>
        </div>
        <div class="star-row">
            <div class="star-col">
                <div class="star-form-control">
                    <label asp-for="MiddleName" class="star-lbl"></label>
                    <input asp-for="MiddleName" class="star-cont" />
                    <span asp-validation-for="MiddleName" class="star-validate"></span>
                </div>
            </div>
        </div>
        <div class="star-row">
            <div class="star-col-2">
                <div class="star-form-control">
                    <label asp-for="PhoneNumber" class="star-lbl"></label>
                    <input asp-for="PhoneNumber" class="star-cont" />
                    <span asp-validation-for="PhoneNumber" class="star-validate"></span>
                </div>
            </div>
            <div class="star-col-2">
                <div class="star-form-control">
                    <label asp-for="Email" class="star-lbl"></label>
                    <input asp-for="Email" class="star-cont" />
                    <span asp-validation-for="Email" class="star-validate"></span>
                </div>
            </div>
        </div>
        <div class="star-row">
            <div class="star-col-2">
                <div class="star-form-control">
                    <label asp-for="Password" class="star-lbl"></label>
                    <input asp-for="Password" class="star-cont" />
                    <span asp-validation-for="Password" class="star-validate"></span>
                </div>
            </div>
            <div class="star-col-2">
                <div class="star-form-control">
                    <label asp-for="ConfirmPassword" class="star-lbl"></label>
                    <input asp-for="ConfirmPassword" class="star-cont" />
                    <span asp-validation-for="ConfirmPassword" class="star-validate"></span>
                </div>
            </div>
        </div>
        <div class="star-row">
            <div class="star-col justify-content-center">
                <button type="submit">Sign Up</button>
            </div>
        </div>
    </div>
</form>

