@model Application.Articles.Commands.CreateArticleCommand

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="quill-wrap">
    <!-- Create the editor container -->
    <form asp-action="Create" asp-controller="Articles" method="post">
        <div class="star-row">
            <div class="star-col">
                <div class="star-form-control">
                    <label asp-for="Title" class="star-lbl">Загаловка</label>
                    <input asp-for="Title" class="star-cont" />
                    <span asp-validation-for="Title" class="star-validate"></span>
                </div>
            </div>
        </div>
        <div id="editor">

        </div>
        <button type="submit">Save</button>
    </form>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/righ-editor.bundle.css" />
}

@section Scripts {
    <script src="~/js/righ-editor.bundle.js"></script>
}