@model ArticleDto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1>@Model.Title</h1>
<div id="content-article" class="ql-editor">@Html.Raw(Model.Content)</div>

@section Styles {
    <link href="~/css/righ-editor.bundle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/righ-editor.bundle.css" />
}