@import "../../scss/colorvariable";
@import "../../scss/media-query";
$text-color: #4B4E51;
$border-color: #E5E6E9;
$button-hover-color: #F7F8F8;

@function border-darken($color-alfa) {
    @return darken(rgba($main-color, $color-alfa), 15);
}


.login-form {
    display: flex;
    align-self: center;
    color: $main-color;

    button,
    a,
    span {
        font-size: 14px;
    }

    button {
        border: none;
        outline: none;

        &:hover,
        &:focus,
        &:active {
            outline: none;
            border: none;
        }
    }

    #auth-button {
        display: none;
        align-self: center;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: #ECECEC;
        transition: all 250ms ease;
        cursor: pointer;

        &:hover {
            background-color: $main-color;
            color: $white-color;
        }

        &.active {
            background-color: $main-color;
            color: $white-color;

            ~.auth-popup {
                display: flex;
            }
        }
    }

    .auth-popup {
        display: flex;

        a {
            display: inherit;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            width: 70px;
            height: 35px;
            font-weight: 500;
            font-size: 12px;
            color: $white-color;
            border-radius: 3px;
            margin-left: 10px;
            transition: all 250ms ease;

            &:first-child {
                background: $white-color;
                box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.3);
                border: 1px solid $button-color;
                color: $font-color;

                &:hover {
                    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3);
                }

                &:active {
                    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
                }
            }

            &:last-child {
                background: $button-color;

                &:hover {
                    background: darken($color: $button-color, $amount: 10);
                }

                &:active {
                    background: $button-color;
                }
            }
        }
    }

    .logged-button {
        display: block;
        align-self: center;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        overflow: hidden;
        border: .2rem solid rgba(#000, 0);
        transition: all 200ms ease;
        z-index: 999;

        img {
            display: block;
            width: 100%;
            height: 100%;
        }

        &:hover {
            border: .2rem solid border-darken(.3);
        }

        &.active {
            $button-color-alfa: .7;
            border: .2rem solid border-darken(.5);

            ~.logged-options {
                display: inherit;
            }
        }
    }

    .logged-options {
        display: none;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        background: #fff;
        top: 50px;
        transition: all .2s ease;
        min-width: 280px;
        right: 1rem;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        overflow: hidden;
        z-index: 998;

        .title {
            margin: 1rem;

            span {
                font-size: 16px;
                color: $text-color;
            }
        }

        .person-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 1rem;
            border-top: 1px solid rgba(darken($button-color, 10), .7);

            .info {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 5px;

                img {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    margin: .5rem 0;
                }

                span {
                    color: $main-color;
                }
            }

            a {
                display: inherit;
                justify-content: center;
                align-items: center;
                padding: .4rem 1.5rem;
                margin: 1rem 0;
                color: $text-color;
                border: 1px solid $border-color;
                border-radius: 100px;
                background-color: transparent;
                transition: all 200ms ease;

                &:hover {
                    background-color: $button-hover-color;
                }
            }
        }

        .log-out {
            display: block;
            border-top: 1px solid rgba(darken($button-color, 10), .7);

            form {
                display: flex;
                justify-content: center;
                padding: 0;
                margin: 0;

                button {
                    padding: .4rem 1.5rem;
                    margin: 1rem 0;
                    background-color: transparent;
                    color: $text-color;
                    border-radius: 3px;
                    border: 1px solid $border-color;
                    transition: all 200ms ease;

                    &:hover {
                        background-color: $button-hover-color;
                    }
                }
            }
        }

        &:focus {
            outline: none;
        }
    }


    @include mquerymax(1030px) {
        height: 100%;

        .logged {
            .logged-options {
                top: 57px;
            }
        }

        #auth-button {
            display: block;
        }

        .auth-popup {
            display: none;
            position: absolute;
            flex-direction: column;
            justify-content: center;
            background: #fff;
            padding: 1rem;
            top: 50px;
            transition: all .2s ease;
            min-width: 120px;
            right: 1rem;
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
            border-radius: 3px;
            z-index: 998;

            a {
                width: 100%;
                margin-left: 0;
                margin-top: 10px;
            }
        }
    }
}